/* Tailwind CSS를 사용하기 위한 필수 지시문입니다. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 레이아웃이 화면 높이를 100% 사용하도록 설정합니다.
  이것이 없으면 h-screen 같은 클래스가 제대로 동작하지 않을 수 있습니다.
*/
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

